{% extends "base.html" %}

{% block bodyclass %}
<body class="profile-page sidebar-collapse">
{% endblock bodyclass %}

{% block content %}
<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('static/assets/img/city.jpg');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="static/assets/img/me.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title">Benedict Aquino</h3>
                            <h6>Data Scientist</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>
                    I graduated from Holy Cross with a Mathematics major in 2016 where I developed a solid foundation in
                    mathematics, statistics, and programming. In the summer of 2018, I enrolled in Galvanize's Data Science
                    Immersive program where I built upon that foundation.
                </p>
                </br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
<div class="copyright float-right">
    &copy;
    <script>
        document.write(new Date().getFullYear())
    </script>, made with <i class="material-icons">favorite</i> by
    <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a> for a better web.
</div>
{% endblock footer %}