{% extends "base.html" %}

{% block bodyclass %}
<body class="profile-page sidebar-collapse">
{% endblock bodyclass %}

{% block content %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('static/assets/img/city.jpg');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="static/assets/img/me.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title">Benedict Aquino</h3>
                            <h6>Math Guy</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>Big math guy.</p>
                </br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}