{% extends "base.html" %} 

{% block bodyclass %}
<body class="index-page sidebar-collapse">
  {% endblock bodyclass %} {% block content %}
  <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('static/assets/img/city.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>Benedict Aquino</h1>
            <h3>Math Guy</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}