{% extends "base.html" %} 

{% block bodyclass %}
<body class="index-page sidebar-collapse">
  {% endblock bodyclass %} {% block content %}
  <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('static/assets/img/city.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <h1 class="title">
              Benedict Aquino
            </h1>
            <h3 class="title">Math Guy</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <a href="{{ url_for('projects') }}" class="btn btn-primary btn-round btn-lg" role="button">
              <i class="material-icons">layers</i>
              Projects
          </a>
          <a href="{{ url_for('about') }}" class="btn btn-info btn-round btn-lg" role="button">
            <i class="material-icons">info</i>
            About
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}