{% extends "base.html" %}

{% block bodyclass %}
<body>
{% endblock bodyclass %}
{% block content %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('static/assets/img/elite.jpg');"></div>
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <center>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="{{ url_for('qb_complex') }}"></iframe>
            </center>
        </div>
    </div>
</div>
<div class="section section-white">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
                <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                            <i class="material-icons">camera</i> Studio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                            <i class="material-icons">palette</i> Work
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                            <i class="material-icons">favorite</i> Favorite
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content tab-space">
        <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
                <div class="col-md-3 ml-auto">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                </div>
                <div class="col-md-3 mr-auto">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                </div>
            </div>
        </div>
        <div class="tab-pane text-center gallery" id="works">
            <div class="row">
                <div class="col-md-3 ml-auto">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                </div>
                <div class="col-md-3 mr-auto">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                </div>
            </div>
        </div>
        <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
                <div class="col-md-3 ml-auto">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                </div>
                <div class="col-md-3 mr-auto">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                    <img src="" class="rounded">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}