{% extends "base.html" %}

{% block bodyclass %}
<body>
{% endblock bodyclass %}
{% block content %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('static/assets/img/elite.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Mapping the Clutch Gene</h1>
                    <h3>Topological Data Analysis of NFL Players</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <center>
                <iframe width="900" height="800" frameborder="0" scrolling="no" src="{{ url_for('nfl_complex') }}"></iframe>
            </center>
        </div>
    </div>
</div>
{% endblock content %}