{% extends "base.html" %}

{% block bodyclass %}
<body class="presentation-page sidebar-collapse">
{% endblock bodyclass %}

{% block content %}
<div class="page-header header-small header-filter clear-filter purple-filter" data-parallax="true";">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Projects</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="card card-nav-tabs card-plain">
                        <div class="card-header card-header-info">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#topology" data-toggle="tab">Mapping the Clutch Gene</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tbd" data-toggle="tab">TBD</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="topology">
                                    <h2>
                                        <a href="{{ url_for('mapping_the_clutch_gene') }}">Mapping the Clutch Gene</a>
                                    </h2>
                                    <h5>
                                        A Topological Data Analysis of NFL Fantasy Football
                                    </h5>
                                    <p>
                                        The goal of this project is to utilize computational topology to understand the structure of a high-dimensional
                                        data set in an effort to overcome the curse of dimensionality. The most obvious issue with high dimensionality
                                        is that visualization becomes difficult. Another issue with high dimensionality is that the concept of distance
                                        loses meaning as the number of dimensions grow, so clustering becomes difficult. My goal was to construct
                                        simplicial complices that represented the data in order to tackle these problems.
                                    </p>
                                    <a href="{{ url_for('mapping-the-clutch-gene') }}" class="btn btn-info btn-round btn-lg" role="button">
                                        View Project
                                    </a>
                                    <p class="text-muted">
                                        A more in-depth explanation of this project and technical details are available on my 
                                        <a href="https://github.com/benedictaquino/mapping-the-clutch-gene">GitHub repository</a>.
                                    </p>
                                </div>
                                <div class="tab-pane" id="tbd">
                                    <p>
                                        My next project will tackle the debilitating TBD.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}